*{
	margin: 0;
}

body {
    background-size: cover;
    color: purple;
}

.kotak-text{
    height: 490px;
    width: 900px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;

}
h3{
    font-size: 30px;
}
p{
    font-size: 25px;
}
#texts{
    font-size: 20px;
}

div #text {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    overflow:hidden;
  }

  #text{
    font-size: 40px;
  }
  
  div #text:first-of-type {   
    animation: showup 5s infinite;
  }
  
  div #text:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }
  
  div #text:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
